*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** CSS Variables for colors *****/

:root{
    --red: #f54538;
    --gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(121,9,86,1) 35%, rgba(245,69,56,1) 100%);
    --buttontext: 'Montserrat', sans-serif;
}

/***** Global Styling Flexbox rule for body *****/

body{
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
// I couldn't get the viewport right for the longest time lol..
/*main{
    width: 100vw;
    height: 100vh;
}*/

h1 {
    font-size: 25px;
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: 80px;
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
    color: white;
}

h3 {
    font-size: 35px;
    color: white;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 25px;
    color: white;
}

li {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}


/* Styling for Banner and Nav bar*/

.banner{
    background: var(--gradient);
}

.nav-container {
    background: black;
}

nav{
    width: 100%;
    margin: auto;
    min-height: 10vh;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;
        margin-right: 50px;
    }

    #logo{
        flex: 2;
        position: relative;
        padding-left: 50px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 50px;
            width: 60px;
            height: 60px;
            background: var(--gradient);
            border-radius: 50%;
            transform: translate(-10%, -20%);
            mix-blend-mode: screen;
        }
    }

    .fly{
        background: var(--gradient);
        padding: 10px 40px;
        border-radius: 20px;
    }

}

.showcase {
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, minmax(50px, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;

    h2 {
        grid-column: 2/3;
        align-self: flex-end;
    }

    img {
        grid-row: 1/3;
        grid-column: 3/5;
        height:140%;
        object-fit: cover;
        align-self: center;
        justify-self: center;

    }

    .info{
        grid-column: 2/3;
        grid-row: 2/3;
        padding-top: 5%;

        h3{
            padding-bottom: 30px;
        } 

        button{
            padding: 5%;
            text-transform: uppercase;
            font-family: var(--buttontext);
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 5%;
            background: none;
            border: 5px solid var(--red);
            border-radius: 100px;
            //transition: 1.5s;
            outline:none;
            color: white;
        }

        button:hover{
            background-color: var(--red); 
            transition: 1.5s;
        }
    }
}

/***** Features Card Section *****/

.features-container{
    background: #fff;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .spaceshipscroll{
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
    }

    .wave{
        position: absolute;
        left: 0;
        bottom: -15%;
        width: 100%;
        z-index: -1;
    }
}

.features{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
        color: black;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        .card{
            background: white;
            margin: 0px 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 20px;
            overflow: hidden;
            h2{
                color: black;
            }
            .icons{
                width: 80%;
                padding: 25px;
            }
            #planet{
                margin-left: 12.5%;
                height: 65%;
            }
            #customers{
                margin-left: 20.5%;
                height: 60%;
                margin-top: 15%;
            }
            #bookmark{
                width: 60%;
                height: 40%;
                margin-top: 15%;
                margin-left: 20.5%;
                margin-bottom: 20%;
            }
            h4{
                margin: 30px 0px 10px 0px;
            }
            p{
                color: black;
                padding: 20px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    
}

/***** SVG Icons Stroke Dashoffset *****/

.card .icons path{
    fill: transparent;
    stroke-width: 1.8;
    stroke: var(--red);
}

.card #planet path{
    stroke-dasharray: 1800;
    stroke-dashoffset: 0;
}

.card #planet:hover path{
    animation: stroke-animate 4s ease-in;
}

@keyframes stroke-animate{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1800;
    }
    80%{
        fill:transparent;
        transform:scale(1.1);
    }
    90%{
        transform:scale(1);
    }
    100%{
        fill: var(--red);
    }
}

.card #customers path{
    stroke-dasharray: 1800;
    stroke-dashoffset: 0;
}

.card #customers:hover path{
    animation: stroke-animate 4s ease-in;
}

@keyframes stroke-animate{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1800;
    }
    80%{
        fill:transparent;
        transform:scale(1.1);
    }
    90%{
        transform:scale(1);
    }
    100%{
        fill: var(--red);
    }
}

.card #bookmark path{
    stroke-dasharray: 1800;
    stroke-dashoffset: 0;
}

.card #bookmark:hover path{
    animation: stroke-animate 4s ease-in;
}

@keyframes stroke-animate{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1800;
    }
    80%{
        fill:transparent;
        transform:scale(1.1);
    }
    90%{
        transform:scale(1);
    }
    100%{
        fill: var(--red);
    }
}

/***** Parallax Section *****/

.parallax {
    position: relative;
    padding-top: 200px;
    padding-bottom: 300px;
    .info2 {
        padding: 20px;
        margin: 0 auto;
        max-width: 60%;
        position: relative;
        z-index: 1;
      }
      .pContent {
        width: 65%;
        background-color: rgba(78,152,21,0.8);
        color: white;
        padding: 40px 60px;
      }
  }
  
  .pImage {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 80%;
    z-index: -1;
  }  

/**** Coming Soon Section *****/

.soon{
    background: radial-gradient(#525252, #131313);
    min-height: 90vh;
    position: relative;
    z-index: 0;
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }
}

/***** Footer Section *****/

footer{
    min-height: 10vh;
    background: black;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        flex: 1;
        list-style: none;
        justify-content: space-between;
    }
    h1{
        flex: 3;
    }
}



/***** Responsiveness with Media Quieries *****/
/* NOTES: Centering items to align in the middle of the screen for mobile.
          Changing Cards to align in center.
          Making images smaller, but also filling as much space on smaller screen.
          Changing font-sizes according to screen sizing.
*/

@media only screen and (max-width: 1200px){
    html{
        font-size: 50%;
    }
    nav{
        #logo{
            flex: 1;
        }
        ul{
            li{
                margin-left: 50px;
            }
        }
    }
    .showcase{
        grid-template-columns: 10% 1fr 10%;
        img{
            width: 100%;
            object-fit:contain;
            grid-column: 2/3;
            grid-row: 2/3;
            margin-top: 10%;
        }
        h2,
        .info {
            grid-column: 2/3;
            text-align: center;
        }
    }
    .features{
        align-items: center;
        h2{
            margin-top: 50px;
        }
        .cards{
            flex-direction: column;
            width: 100%;
            .card{
                margin: 50px 0px;
            }
        }
    }
    .soon{
        overflow: hidden;
        img{
            width: 60%;
        }
        h2{
            font-size: 50px;
            text-align: center;
        }
    }
}


